# ===========================================================================
# PROJECT ENVIRONMENT SETUP: .envrc
# ===========================================================================
# SHELL: bash (or similiar)
# REQUIRES: direnv >= 2.21.0  -- NEEDED FOR: path_add, venv support
# USAGE:
#   # -- BETTER: Use direnv (requires: Setup in bash -- $HOME/.bashrc)
#   # BASH PROFILE NEEDS: eval "$(direnv hook bash)"
#   direnv allow .
#
# SEE ALSO:
#   * https://direnv.net/
#   * https://github.com/direnv/direnv
# ===========================================================================
# MAYBE: HERE="${PWD}"

# -- USE OPTIONAL PARTS (if exist/enabled):
source_env_if_exists .envrc.use_venv

# -- SETUP-PYTHON: Prepend ${HERE} to PYTHONPATH (as PRIMARY search path)
# SIMILAR TO: export PYTHONPATH="${HERE}:${PYTHONPATH}"
path_add PYTHONPATH .
path_add PATH bin

source_env_if_exists .envrc.override
