# ===========================================================================
# PROJECT ENVIRONMENT SETUP: .envrc
# ===========================================================================
# SHELL: bash (or similiar)
# REQUIRES: direnv >= 2.26.0  -- NEEDED FOR: dotenv_if_exists
# USAGE:
#   # -- BETTER: Use direnv (requires: Setup in bash -- $HOME/.bashrc)
#   # BASH PROFILE NEEDS: eval "$(direnv hook bash)"
#   direnv allow .
#
# SEE ALSO:
#   * https://direnv.net/
#   * https://github.com/direnv/direnv
#   * https://peps.python.org/pep-0582/   Python local packages directory
# ===========================================================================
# MAYBE: HERE="${PWD}"

# -- USE OPTIONAL PARTS (if exist/enabled):
dotenv_if_exists .env
source_env_if_exists .envrc.use_venv
source_env_if_exists .envrc.use_pep0582

# -- SETUP-PYTHON: Prepend ${HERE} to PYTHONPATH (as PRIMARY search path)
# SIMILAR TO: export PYTHONPATH="${HERE}:${PYTHONPATH}"
path_add PYTHONPATH .

source_env_if_exists .envrc.override
