# ===========================================================================
# PROJECT ENVIRONMENT SETUP: HERE/.envrc
# ===========================================================================
# SHELL: bash (or similiar)
# SEE ALSO: https://direnv.net/
# USAGE:
#   source .envrc
#
#   # -- BETTER: Use direnv (requires: Setup in bash -- $HOME/.bashrc)
#   # eval "$(direnv hook bash)"
#   direnv allow .
#
# SIMPLISTIC ALTERNATIVE (with cleanup when directory scope is left again):
#   source .envrc
# ===========================================================================

export HERE="$PWD"
export PYTHONPATH=".:${HERE}:${PYTHONPATH}"
export PATH="${HERE}/bin:${PATH}"
unset HERE
