*.egg-info
*.lock
*.log
*.pyc
*.pyo
*$py.class
build/
dist/
__pycache__/
__pypackages__/
__WORKDIR__/
__*/
__*.txt
__*.rst
_build/
_WORKSPACE/
reports/
tools/virtualenvs
.cache/
.direnv/
.fleet/
.idea/
.pytest_cache/
.tox/
.venv*/
.vscode/
.done.*
.DS_Store
.coverage
rerun.txt
testrun*.json
