*.egg-info
*.log
*.pyc
*.pyo
*$py.class
build/
dist/
__pycache__/
__WORKDIR__/
__*/
__*.txt
__*.rst
_build/
_WORKSPACE/
reports/
tools/virtualenvs
.cache/
.idea/
.pytest_cache/
.tox/
.venv*/
.vscode/
.DS_Store
.coverage
.ropeproject
nosetests.xml
rerun.txt
testrun*.json
