*.egg-info
*.lock
*.log
*.pyc
*.pyo
*$py.class

# -- TEMPORARY FILES:
__*.txt
__*.rst
__*.md
.coverage
.done.*
.DS_Store
rerun.txt
testrun*.json

# -- TEMPORARY DIRECTORIES:
build/
dist/
.cache/
.direnv/
.fleet/
.idea/
.pytest_cache/
.ruff_cache/
.tox/
.venv*/
.vscode/
__*/
__pycache__/
__WORKDIR__/
