language: python

python:
  - 2.5
  - 2.6
  - 2.7
  - pypy

install: pip install --use-mirrors -q mock nose PyHamcrest

script:
 - nosetests
 - python setup.py -q install
 - behave issue.features/ -f progress2
