language: python
sudo: false
dist: xenial   # required for Python >= 3.7
python:
  - "3.8-dev"
  - "3.7"
  - "2.7"

# -- DISABLE-TEMPORARILY: Ensure faster builds
#  - "3.6"
#  - "3.5"
#  - "pypy"
#  - "pypy3"

# -- DISABLED:
#  - "nightly"
#
# NOW SUPPORTED: "3.5" => python 3.5.2 (>= 3.5.1)
# NOTE: nightly = 3.7-dev

# -- TEST-BALLON: Check if Python 3.6 is actually Python 3.5.1 or newer
matrix:
  allow_failures:
    - python: "3.8-dev"
    - python: "nightly"

cache:
  directories:
    - $HOME/.cache/pip

install:
  - travis_retry pip install -q -r py.requirements/ci.travis.txt
  - pip show setuptools
  - python setup.py -q install

script:
  - python --version
  - pytest tests
  - behave -f progress --junit features/
  - behave -f progress --junit tools/test-features/
  - behave -f progress --junit issue.features/

after_failure:
  - echo "FAILURE DETAILS (from XML reports):"
  - bin/behave.junit_filter.py --status=failed reports

# -- ALTERNATIVE:
#  egrep -L 'errors="0"|failures="0"' reports/*.xml | xargs -t cat

# -- USE: New container-based infrastructure for faster startup.
#    http://docs.travis-ci.com/user/workers/container-based-infrastructure/
#
# SEE ALSO:
#   http://lint.travis-ci.org
#   http://docs.travis-ci.com/user/caching/
#   http://docs.travis-ci.com/user/multi-os/  (Linux, MACOSX)
