include README.rst 
include MANIFEST.in
include setup.py
include pavement.py
include *.cfg
include *.ini
include *.txt
include *.rst
include .gitignore
include .coveragerc
include .pycheckrc
include pylintrc
recursive-include bin           *.py *.cmd *.zip
recursive-include docs          *.rst *.css Makefile
recursive-include selftest.features  *.feature *.py *.txt
recursive-include tools         *.feature *.py *.yml

