# ============================================================================
# PYTHON PACKAGE REQUIREMENTS: For development only
# ============================================================================
# REQUIRES: Python >= 2.5
# REQUIRES: Python >= 3.2
# DESCRIPTION:
#    pip install -r <THIS_FILE>
#
# ============================================================================

# -- TESTS:
nose  >= 1.1
mock  >= 1.0
PyHamcrest >= 1.6

# -- DEVELOPMENT SUPPORT:
# NOT-NEEDED_ nose-cov >= 1.4
paver >= 1.1
tox   >= 1.4
coverage >= 3.6

# -- DOCUMENTATION: Tutorials with examples.
sphinx >= 1.1
sphinxcontrib-cheeseshop >= 0.2
