# ============================================================================
# INVOKE PYTHON PACKAGE REQUIREMENTS: For tasks
# ============================================================================
# DESCRIPTION:
#    pip install -r <THIS_FILE>
#
# SEE ALSO:
#  * http://www.pip-installer.org/
# ============================================================================

invoke==1.4.1
pycmd
six==1.15.0

# -- HINT: path.py => path (python-install-package was renamed for python3)
path >= 13.1.0;    python_version >= '3.5'
path.py >= 11.5.0; python_version <  '3.5'

# -- PYTHON2 BACKPORTS:
pathlib;    python_version <= '3.4'
backports.shutil_which; python_version <= '3.3'

# -- SECTION: develop
requests
