# ============================================================================
# INVOKE PYTHON PACKAGE REQUIREMENTS: For tasks
# ============================================================================
# DESCRIPTION:
#    pip install -r <THIS_FILE>
#
# SEE ALSO:
#  * http://www.pip-installer.org/
# ============================================================================

invoke >= 1.2.0
path.py >= 11.5.0
pycmd
six >= 1.12.0

# -- PYTHON2 BACKPORTS:
pathlib;    python_version <= '3.4'
backports.shutil_which; python_version <= '3.3'
