# ============================================================================
# INVOKE PYTHON PACKAGE REQUIREMENTS: For tasks
# ============================================================================
# DESCRIPTION:
#    pip install -r <THIS_FILE>
#
# SEE ALSO:
#  * http://www.pip-installer.org/
# ============================================================================

invoke >=2.2,<2.3; python_version <  '3.6'
invoke >=1.7.0;      python_version >= '3.6'
pycmd
six >= 1.15.0

# -- HINT, was RENAMED: path.py => path (for python3)
path.py >=11.5.0,<13.0; python_version <  '3.5'
path >= 13.1.0;         python_version >= '3.5'

# -- PYTHON2 BACKPORTS:
pathlib;    python_version <= '3.4'
backports.shutil_which; python_version <= '3.3'

git+https://github.com/jenisys/invoke-cleanup@v0.3.7

# -- SECTION: develop
requests

# -- DEVELOPMENT SUPPORT: Check "invoke.yaml" config-file(s)
yamllint >= 1.32.0; python_version >= '3.7'
