# ============================================================================
# PYTHON PACKAGE REQUIREMENTS: For running issue.features/
# ============================================================================
# REQUIRES: Python >= 2.7
# REQUIRES: Python >= 3.5
# DESCRIPTION:
#    pip install -r <THIS_FILE>
#
# ============================================================================

PyHamcrest >= 2.0.2; python_version >= '3.0'
PyHamcrest <  2.0;   python_version <  '3.0'
