# ============================================================================
# PYTHON PACKAGE REQUIREMENTS: For running issue.features/
# ============================================================================
# REQUIRES: Python >= 2.5
# REQUIRES: Python >= 3.2
# DESCRIPTION:
#    pip install -r <THIS_FILE>
#
# ============================================================================

PyHamcrest >= 1.6

